*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* top navbar starts */
header{
    position: fixed;
    width: 100%;
}

.navbar{
    font-size: 1rem;
    height: 60px;
    background-color: #18191a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

   
}

#first{
    padding-left: 0px;
}

.nav-left img{
    height: 32px;
    width: 32px;
    padding-left: 80px;

}

.nav-mid{
    padding-left: 80px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.808);
}

.nav-right img{
    padding-left: 80px;
}

.logo{
    color: white;
    padding-left: 40px;

}
/* top navbar ends */


/* downnavbar starts */
.down-nav{
    height: 56px;
    display: flex;
    background-color: #2756d6;
    align-items: center;
    justify-content: space-evenly;
    color: white;   
}

.down-nav h1{
    font-size: 1.8rem;
}


button{
    height: 40px;
    width: 100px;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}


button a{
    padding: 0px 10px;
}

/* downnavbar ends */

/* hero section starts*/
.background img{
    height: 750px;
    width: 100%;
}

/* hero section ends */




